<h1>About</h1>
<article class="articles">
  <p>
    Hi, I'm a developer and I love to build things. This blog app is a backend
    project aiming to showcase my skills and knowledge in the field of backend
    development. Althoug it is a fairly simple blog app, it is still a great
    example of how to build a backend application using Node.js and Express.js.
  </p>
  <p>
    Also this app is using MongoDB as the database and EJS as the templating
    engine. I'm using EJS because it is a simple templating engine that is easy
    to use and understand. It is also very fast and efficient.
  </p>
  <p>
    I hope you enjoy using this app and find it useful. If you have any
    questions or suggestions, please feel free to reach out to me.
  </p>
</article>
