<h1>About</h1>
<article class="articles">
  <p>You can contact me at</p>
  <ul>
    <li>
      <span>Email: </span
      ><a href="mailto:arshaliwork@gmail.com">arshaliwork@gmail.com</a>
    </li>
    <li><span>Phone: </span><a href="#">+91-9956440846</a></li>
    <li>
      <span>Checkout Github: </span
      ><a href="https://github.com/arshali2774/">Github</a>
    </li>
    <li>
      <span>Checkout LinkedIn: </span
      ><a href="https://www.linkedin.com/in/arshali2774/">LinkedIn</a>
    </li>
    <li>
      <span>My ReactJS portfolio and other projects: </span
      ><a href="https://portfolio-ten-phi-50.vercel.app/">Portfolio</a>
    </li>
  </ul>
</article>
