<div class="author">
  <h1 class="author__heading">Hi, I am Arsh.</h1>
  <p class="author__body">
    Full Stack Developer from India, dedicated to building innovative solutions
    and constantly learning new technologies.
  </p>
</div>
<div class="author__img">
  <img src="/images/IMG_6704.webp" alt="Arsh Ali" width="981" height="528" />
</div>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="article-list">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
